body{
     background-color: #f7f8f9 !important;
}

.dashboard-card {
    background-color: #fff;
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 5px 10px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 2.5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
  }

  .documents-card {
    background-color: #fff;
    width: 70%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 5px 10px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 2.5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
  }

  .reset-password-card{
    text-align: center;
    justify-content: center;
    width: max-content;
    margin: auto;
    margin-top: 5em;
    padding: 50px 30px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 2.5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
}

.textCenter{
    text-align: center;
}

.TheNavBar{
    display: block;
    background-color: black;
    width: auto;
    padding-right: 2%;
    padding-top: .50em;
    padding-bottom: .001em;
}

.TheNavBar ul{
    list-style-type: none;
    display: flex;
    background-color: black;
}

.TheNavBar li{
    margin-right: 10%;
}

.IndividualLinks div{
    color: #a3aaae;
    text-align: center;
    width: auto;
    height: max-content;
    padding: 10px;
}

.IndividualLinks div:hover{
    color: white;   
}

.IndividualLinks:visited{
    color: #a3aaae;
    text-decoration: none;
}

.IndividualLinks{
    text-decoration: none;
}

.MembersLoginDiv{
    border-style: solid;
    width: 15%;
    float: left;
    margin-top: auto;
    margin-right: auto;
    margin-left: 26%;
    margin-bottom: auto;
    padding: 10px;
}

.PublicDocumentsDiv{
    border-style: solid;
    width: 15%;
    text-align: center;
    margin: auto;
    padding: 10px;
}

.Document{
    margin: auto;
    border-style: solid;
    width: 30%;
    display: flex;
    height: fit-content;
    margin-block: 0.5em;
}

.LogButton{
    color: silver !important;
    float: right;
}

.LogButton:hover{
    color: white !important;
}

.DashboardPage{
    display: flex;
}

.DashboardAnnouncementsDiv{
    background-color: #F5F5F5;
    border: solid 1.5px black;
    margin: 20%;
    padding: 2%;
    display: inline-block;
}

.DashboardAccountDiv{
    border: solid 1.5px black;
    margin-right: 15%;
    padding: 2%;
    text-align: center;
    background-color: #F5F5F5;
    display: inline-block;
}

.MoreAnnouncementsPageDiv{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    display: inline-block;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
}

.MoreAnnouncementsPageAnnouncementsDiv div{
    border-top: 1px solid;
}

.navBarDropDownMenuToggle{
    color: silver !important;
}

.navBarDropDownMenuToggle:hover{
    color: white !important;
}

