.textCenter{
    text-align: center;
}

.TheNavBar{
    display: block;
    background-color: black;
    width: auto;
    padding-right: 2%;
    padding-top: .001em;
    padding-bottom: .001em;
}

.TheNavBar ul{
    list-style-type: none;
    display: flex;
}

.TheNavBar li{
    margin-right: 10%;
}

.IndividualLinks{
    color: white;
    text-align: center;
}

.MembersLoginDiv{
    border-style: solid;
    width: 15%;
    float: left;
    margin-top: auto;
    margin-right: auto;
    margin-left: 26%;
    margin-bottom: auto;
    padding: 10px;
}

.PublicDocumentsDiv{
    border-style: solid;
    width: 15%;
    margin-top: auto;
    margin-right: 26%;
    margin-left: auto;
    margin-bottom: auto;
    padding: 10px;
}